@use "../../scss/index.scss" as *;

.MuiButton-overrides.MuiButton-root {
  // Reset
  box-shadow: none;
  border-radius: $fullRadius;
  text-transform: none;

  // Sizing
  .MuiButton-sizeSmall {
    height: 24px;
  }
  .MuiButton-sizeMedium {
    height: 32px;
  }
  .MuiButton-sizeLarge {
    height: 40px;
  }

  // Contained Styles
  &.MuiButton-containedPrimary {
    background-color: color("primary300");
  }
}
