@use "../spacing";

$spacings: (
  "0": 0,
  "xs": spacing.$xsmall,
  "sm": spacing.$small,
  "md": spacing.$medium,
  "ba": spacing.$base,
  "lg": spacing.$large,
  "xl": spacing.$xlarge,
  "xxl": spacing.$xxlarge,
);

@each $str, $val in $spacings {
  .m-#{$str} {
    margin: $val !important;
  }
  .ml-#{$str} {
    margin-left: $val !important;
  }
  .mr-#{$str} {
    margin-right: $val !important;
  }
  .mx-#{$str} {
    margin-left: $val !important;
    margin-right: $val !important;
  }
  .mt-#{$str} {
    margin-top: $val !important;
  }
  .mb-#{$str} {
    margin-bottom: $val !important;
  }
  .my-#{$str} {
    margin-top: $val !important;
    margin-bottom: $val !important;
  }

  .p-#{$str} {
    padding: $val !important;
  }
  .pl-#{$str} {
    padding-left: $val !important;
  }
  .pr-#{$str} {
    padding-right: $val !important;
  }
  .px-#{$str} {
    padding-left: $val !important;
    padding-right: $val !important;
  }
  .pt-#{$str} {
    padding-top: $val !important;
  }
  .pb-#{$str} {
    padding-bottom: $val !important;
  }
  .py-#{$str} {
    padding-top: $val !important;
    padding-bottom: $val !important;
  }

  @if $str != auto {
    .gap-#{$str} {
      gap: $val !important;
    }
  }
}
